<header class="container">
    <hgroup>
        <h1>Download Work Tracker</h1>
        <h2>Get the latest release for any platform.</h2>
    </hgroup>
    <%- platform_options %>
</header>

<main class="container">
    <h3>Stay up to date</h3>
    <p>
        We recommend you to install <strong>Work Tracker</strong> through your platform store. 
        So you get automatic updates and stay up to date without any hassle. 
    </p>
    <h3>Available everywhere</h3>
    <p>
        Share the same expirence you know and love on any desktop OS. 
        <strong>Work Tracker</strong> is easily installable through the Apple App Store, Microsoft Store, GNOME Software, Discover, ... you name it!
    </p>
</main>