<header class="container">
    <hgroup>
        <h1>Download Work Tracker</h1>
        <h2>Get the latest release for any platform.</h2>
    </hgroup>
    <h6>Stores</h6>
    <p>
        <a href="https://flathub.org"
           role="button"
           target="_blank"
        >Flathub</a>
        <a href="https://snapcraft.io/store"
           role="button"
           target="_blank"
        >Snap Store</a>
    </p>
    <h6>Installers</h6>
    <p>
        <a href="."
           role="button"
           target="_blank"
        >DEB</a>
        <a href="."
           role="button"
           target="_blank"
        >RPM</a>
        <a href="."
           role="button"
           target="_blank"
        >Flatpak</a>
        <a href="."
           role="button"
           target="_blank"
        >Snap</a>
    </p>
    <small>Also available for <a>macOS</a> and <a>Windows</a>.</small>
</header>

<main class="container">
    <h3>Stay up to date</h3>
    <p>
        We recommend you to install <strong>Work Tracker</strong> through your platform store. 
        So you get automatic updates and stay up to date without any hassle. 
    </p>
    <h3>Available everywhere</h3>
    <p>
        Share the same expirence you know and love on any desktop OS. 
        <strong>Work Tracker</strong> is easily installable through the Apple App Store, Microsoft Store, GNOME Software, Discover, ... you name it!
    </p>
</main>