<header class="container">
    <hgroup>
        <h1>Elegant and easy to use Work Tracker</h1>
        <h2>Never worry about hour work hours again. We will take care about it!</h2>
    </hgroup>
    <p>
        <a href="/download/"
           role="button"
        >Download</a>
    </p>
</header>

<main class="container">
    <section>
        <article>
            Some fancy images and stuff...
        </article>
    </section>
    <section>
        <hgroup>
            <h2>Focus on the important things!</h2>
            <h3>We will provide you powerful tools for your time management. While still being simple and easy!</h3>
        </hgroup>
    </section>
    <section>
        <div class="grid">
            <div>
                <h4>Easy</h4>
                <p>Only as few elements on screen to have everything within reach. But with all the powerful tools you need.</p>
            </div>
            <div>
                <h4>Elegant</h4>
                <p>Developed with <a href="https://developer.gnome.org/hig">Libadwaita</a>, generating the clean GNOME look-and-feel we all love!</p>
            </div>
            <div>
                <h4>Cross platform</h4>
                <p>Use it whereever you want. Being it GNU/Linux, macOS or Windows. We support it all!</p>
            </div>
            <div>
                <h4>FOSS</h4>
                <p>We used many free and open source software during development, so we want to give something back to you!</p>
            </div>
        </div>
    </section>
</main>